//--- Map-get variables
$alerts: (
  "error": (
    "background-color": #feebeb,
    "color": #ec3433,
  ),
  "success": (
    "background-color": #d4fde4,
    "color": #16be6a,
  ),
  "info": (
    "background-color": #e9f0fe,
    "color": #2865cb,
  ),
  "warning": (
    "background-color": #fff2d1,
    "color": #e67e22,
  ),
);

$positions: (
  "top-right": (
    top: 10px,
    right: 10px,
  ),
  "top-left": (
    top: 10px,
    left: 10px,
  ),
  "bottom-right": (
    bottom: 10px,
    right: 10px,
  ),
  "bottom-left": (
    bottom: 10px,
    left: 10px,
  )
);
